<div>
  <h1>button</h1>
  <button md-raised-button color="primary">PRIMARY</button>
  <button md-raised-button color="accent">ACCENT</button>
  <button md-raised-button color="warn">WARN</button>

  <h3>Normal Buttons</h3>
  <div class="button-row">
    <button md-button>Flat button</button>
    <button md-raised-button>Raised button</button>
    <button md-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>check</md-icon></button>
  </div>

  <h3>Link Buttons</h3>
  <div class="example-button-row">
    <a md-button routerLink=".">Flat button</a>
    <a md-raised-button routerLink=".">Raised button</a>
    <a md-fab routerLink=".">
      <md-icon>check</md-icon>
    </a>
    <a md-mini-fab routerLink=".">
      <md-icon>check</md-icon>
    </a>
  </div>
</div>

<div>
  <h1>checkbox</h1>
  <md-card>
    <md-card-content>
      <h2 class="example-h2">Checkbox configuration</h2>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        <md-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</md-checkbox>
      </section>

      <section class="example-section">
        <label class="example-margin">Align:</label>
        <md-radio-group [(ngModel)]="align">
          <md-radio-button class="example-margin" value="start">Start</md-radio-button>
          <md-radio-button class="example-margin" value="end">End</md-radio-button>
        </md-radio-group>
      </section>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
      </section>
    </md-card-content>
  </md-card>

  <md-card class="result">
    <md-card-content>
      <h2 class="example-h2">Result</h2>

      <section class="example-section">
        <md-checkbox class="example-margin" [checked]="checked" [indeterminate]="indeterminate" [align]="align" [disabled]="disabled">
          I'm a checkbox
        </md-checkbox>
      </section>
    </md-card-content>
  </md-card>
</div>
<div>
  <h1>input</h1>
  <form class="example-form">
    <md-input-container class="example-full-width">
      <input md-input placeholder="Company (disabled)" disabled value="Google">
    </md-input-container>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input md-input placeholder="First name">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input md-input placeholder="Long Last Name That Will Be Truncated">
          </md-input-container>
        </td>
      </tr>
    </table>

    <p>
      <md-input-container class="example-full-width">
        <textarea md-input placeholder="Address">1600 Amphitheatre Pkwy</textarea>
      </md-input-container>
      <md-input-container class="example-full-width">
        <textarea md-input placeholder="Address 2"></textarea>
      </md-input-container>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input md-input placeholder="City">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input md-input placeholder="State">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input md-input #postalCode maxlength="5" placeholder="Postal Code" value="94043">
            <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
          </md-input-container>
        </td>
      </tr>
    </table>
  </form>
</div>
<div>
  <h1>Radio button</h1>
  <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
    <md-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
      {{season}}
    </md-radio-button>
  </md-radio-group>
  <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
</div>
<div>
  <h1>select</h1>
  <form>
    <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
      <md-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </md-option>
    </md-select>

    <p> Selected value: {{selectedValue}} </p>
  </form>
</div>
<div>
  <h1>slide</h1>
  <md-card>
    <md-card-content>
      <h2 class="example-h2">Slider configuration</h2>

      <section class="example-section">
        <md-input-container class="example-margin">
          <input md-input type="number" placeholder="Value" [(ngModel)]="value">
        </md-input-container>
        <md-input-container class="example-margin">
          <input md-input type="number" placeholder="Min value" [(ngModel)]="min">
        </md-input-container>
        <md-input-container class="example-margin">
          <input md-input type="number" placeholder="Max value" [(ngModel)]="max">
        </md-input-container>
        <md-input-container class="example-margin">
          <input md-input type="number" placeholder="Step size" [(ngModel)]="step">
        </md-input-container>
      </section>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="showTicks">Show ticks</md-checkbox>
        <md-checkbox class="example-margin" [(ngModel)]="autoTicks" *ngIf="showTicks">
          Auto ticks
        </md-checkbox>
        <md-input-container class="example-margin" *ngIf="showTicks && !autoTicks">
          <input md-input type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
        </md-input-container>
      </section>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="thumbLabel">Show thumb label</md-checkbox>
      </section>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="vertical">Vertical</md-checkbox>
        <md-checkbox class="example-margin" [(ngModel)]="invert">Inverted</md-checkbox>
      </section>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
      </section>

    </md-card-content>
  </md-card>

  <md-card class="result">
    <md-card-content>
      <h2 class="example-h2">Result</h2>

      <md-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
        [tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
      </md-slider>
    </md-card-content>
  </md-card>
</div>
<div>
  <h1>slide toggle</h1>
  <md-card>
    <md-card-content>
      <h2 class="example-h2">Slider configuration</h2>

      <section class="example-section">
        <label class="example-margin">Color:</label>
        <md-radio-group [(ngModel)]="color">
          <md-radio-button class="example-margin" value="primary">
            Primary
          </md-radio-button>
          <md-radio-button class="example-margin" value="accent">
            Accent
          </md-radio-button>
          <md-radio-button class="example-margin" value="warn">
            Warn
          </md-radio-button>
        </md-radio-group>
      </section>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
      </section>

      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
      </section>
    </md-card-content>
  </md-card>

  <md-card class="result">
    <md-card-content>
      <h2 class="example-h2">Result</h2>

      <section class="example-section">
        <md-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
          Slide me!
        </md-slide-toggle>
      </section>
    </md-card-content>
  </md-card>
</div>
<div>
  <h1>menu</h1>
  <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
    <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
    <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
  </md-menu>
</div>
<div>
  <h1>sideNAV</h1>
  <md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="true">
      <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon>add</md-icon>
    </button>
      <div class="example-scrolling-content">
        Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque. Nisl rutrum
        etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla scelerisque sem,
        dolor id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
        vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin,
        quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper,
        urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
        Taciti dui, sapien consectetuer.
      </div>
    </md-sidenav>
    <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>add</md-icon>
  </button>
    <div class="example-scrolling-content">
      Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque. Nisl rutrum
      etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla scelerisque sem,
      dolor id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
      vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin,
      quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper,
      urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
      Taciti dui, sapien consectetuer.
    </div>
  </md-sidenav-container>
</div>
<div>
  <h1>ToolBar</h1>
  <md-toolbar color="primary">
    <span>Custom Toolbar</span>

    <md-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <md-icon class="example-icon">verified_user</md-icon>
    </md-toolbar-row>

    <md-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <md-icon class="example-icon">favorite</md-icon>
      <md-icon class="example-icon">delete</md-icon>
    </md-toolbar-row>
  </md-toolbar>
</div>
<div>
  <h1>list</h1>
  <md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let folder of folders">
      <md-icon md-list-avatar>folder</md-icon>
      <h4 md-line>{{folder.name}}</h4>
      <p md-line> {{folder.updated | date}} </p>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>Notes</h3>
    <md-list-item *ngFor="let note of notes">
      <md-icon md-list-avatar>note</md-icon>
      <h4 md-line>{{note.name}}</h4>
      <p md-line> {{note.updated | date}} </p>
    </md-list-item>
  </md-list>
</div>
<div>
  <h1>Grid List</h1>
  <md-grid-list cols="4" rowHeight="100px">
    <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
      {{tile.text}}
    </md-grid-tile>
  </md-grid-list>
</div>
<div>
  <h1>card</h1>
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
<div>
  <h1>progress bar</h1>
  <md-card>
    <md-card-content>
      <h2 class="example-h2">Progress bar configuration</h2>

      <section class="example-section">
        <label class="example-margin">Color:</label>
        <md-radio-group [(ngModel)]="color">
          <md-radio-button class="example-margin" value="primary">
            Primary
          </md-radio-button>
          <md-radio-button class="example-margin" value="accent">
            Accent
          </md-radio-button>
          <md-radio-button class="example-margin" value="warn">
            Warn
          </md-radio-button>
        </md-radio-group>
      </section>

      <section class="example-section">
        <label class="example-margin">Mode:</label>
        <md-radio-group [(ngModel)]="mode">
          <md-radio-button class="example-margin" value="determinate">
            Determinate
          </md-radio-button>
          <md-radio-button class="example-margin" value="indeterminate">
            Indeterminate
          </md-radio-button>
          <md-radio-button class="example-margin" value="buffer">
            Buffer
          </md-radio-button>
          <md-radio-button class="example-margin" value="query">
            Query
          </md-radio-button>
        </md-radio-group>
      </section>

      <section class="example-section" *ngIf="mode == 'determinate' || mode == 'buffer'">
        <label class="example-margin">Progress:</label>
        <md-slider class="example-margin" [(ngModel)]="value"></md-slider>
      </section>
      <section class="example-section" *ngIf="mode == 'buffer'">
        <label class="example-margin">Buffer:</label>
        <md-slider class="example-margin" [(ngModel)]="bufferValue"></md-slider>
      </section>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>
      <h2 class="example-h2">Result</h2>

      <section class="example-section">
        <md-progress-bar class="example-margin" [attr.color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
        </md-progress-bar>
      </section>
    </md-card-content>
  </md-card>
</div>
<div>
  <h1>dialog</h1>
  <button md-button (click)="openDialog()">Launch dialog</button> You chose: {{selectedOption}}
</div>
<div>
  <h1>tooltip</h1>
  <div class="example-tooltip-host" mdTooltip="Tooltip!" [mdTooltipPosition]="position">
    <span>Show tooltip</span>
    <md-select class="example-select" [(ngModel)]="position">
      <md-option value="before">Before</md-option>
      <md-option value="after">After</md-option>
      <md-option value="above">Above</md-option>
      <md-option value="below">Below</md-option>
      <md-option value="left">Left</md-option>
      <md-option value="right">Right</md-option>
    </md-select>
  </div>
</div>
<div>
  <h1>snackbar</h1>
  <button md-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
  Pizza party
</button>
</div>